body{background-color: #CAE3FF}
table{align-content: center; margin-left: 25px}
th{background-color: #2F8BF3}
tr{width: 60px; height: 40px;}
.tr1{background-color: #FFE274}
.tr2{background-color: #FFF4C9}
.tr3{background-color: #FFE274}
.tr4{background-color: #FFF4C9}
.tr5{background-color: #FFE274}
.table2{margin-left: 75px}
.fst{margin-left: 50px;}
.scnd{margin-left: 20px}

  